@tailwind base;
@tailwind components;
@tailwind utilities;


/* base */

html{
    scroll-behavior: smooth;
}

body{
    @apply bg-zinc-900 text-zinc-50
}


.project-cards{
    border-radius: 24px;
    background-color: #2D2D2D;
    box-shadow: 0 0 5px 1px #fafafa25;
}


.tech-pills{
    box-shadow: 0 0 1px 0 #a1a1a1;
    
}


.image-shadow{
    box-shadow: 0 0 5px -1px #f2f2f2;

}